@import 'src/sass/bourbon/bourbon';
@import 'src/sass/animate/animate';
$bg-color:#fff;
$input-color:#fbfbfb;
$border-color:#cfcfcf;
*{
	@include box-sizing( border-box );
}
body{
	font:14px/100% $helvetica;
	margin:0;
	padding:0;
	@include position( absolute, 0px 0px 0px 0px );
}
#logins, #message, #users, #channels{
	display:none;
}

#wrapper{
	position: absolute;
	top:0;
	left:0;
	width: 50%;
	margin:auto;
	right:0;
	bottom:0;
	z-index: 2;
	.current{
		display:block;
		opacity:1;
	}
	.login{
		@include position( absolute, 0px 0px 0px 0px );
		z-index: 10;
		background: $bg-color;
		section{
			@include display-box;
			@include box-orient(vertical);
			@include box-pack(center);
			@include position( absolute, 0px 0px 0px 0px );
			padding:10%;
			.logo{
				font-family: $helvetica;
				text-align:center;
				font-weight:200;
				text-transform: uppercase;
				@include box-flex(1);
			}
			form{
				@include box-flex(4);
			}
		}

	}
	form{
		input[type="text"], input[type="email"], input[type="password"], input[type="tel"],input.text{
			@include placeholder { color: #ccc; font-weight:100; font-family: $helvetica};
			background-color: $input-color;
			border:1px solid $border-color;
			width: 100%;
			text-indent: 1em;
			font-size: 1em;
			font-weight: 100;
			display: block;
			height:40px;
			line-height: 40px;
			margin-bottom:10px;
		}
		button{
			@include button( simple, #2f96bc );
			width:100%;
		}
	}
	button, .button{
		@include inline-block;
		text-align:center;
		cursor: pointer;
		&.follow{
			@include button( simple, #2f96bc );
			width:100%;
		}
	}
}


