<h1>Listing messages</h1>

<table id="messages-table">
  <tr>
    <th>Body</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Author</th>
    <th>Channel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Message</a>