<h1>Listing channels</h1>

<table id="channels-table">
  <tr>
    <th>Title</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Channel</a>