<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Latitude:</b>
  <%= latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= longitude %>
</p>

<p>
  <b>Creator:</b>
  <%= creator_id %>
</p>


<a href="#/index">Back</a>