<h1>Listing users</h1>

<table id="users-table">
  <tr>
    <th>Email</th>
    <th>Message zone</th>
    <th>Connected</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Pseudo</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Gender</th>
    <th>Birth date</th>
    <th>Provider</th>
    <th>Uid</th>
    <th>Authentication token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New User</a>